@font-face {
    font-family: 'P3Font';
    src: url('chiarostd_b.otf');
}

/************************* Classes *************************/
body {
    font-family: P3Font;
    color: rgb(33,33,33,1);
    background-image: url("images/menu.gif");
    background-size: 200vh;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.title-fade {
    transform-origin: top top;
    animation-name: title-fade;
    animation-duration: 2s;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 0.5s;
}
/***********************************************************/

/************************ Keyframes ************************/
@keyframes fade-out {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes title-fade {
    0% {
        transform: scaleX(1) scaleY(1);
    }

    30% {
        opacity: 100%;
    }

    100% {
        transform: scaleX(2) scaleY(2);
        opacity: 0%;
    }
}

@keyframes slide-in-top {
    0% {
        transform: translateY(100%) rotate(30deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}
/***********************************************************/

/************************* Module **************************/


#cntFadeOut, #cntFadeIn {
    background-color: black;
    position:absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    animation-duration: 0.5s;
    z-index: 999;
}
#cntFadeOut {
    animation-name: fade-out;
}
#cntFadeIn {
    animation-name: fade-in;
}
/***********************************************************/

/************************** Menu ***************************/

#cntTextbox, #cntCharacters {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    flex-wrap: nowrap;
}

#cntCharacters {
    weight: 100%;
    border: 1px solid red;
}

#cntTextbox {
    filter:drop-shadow(0 0 1vh rgb(0, 0, 0));
}

#imgTextbox {
    width: 89.5vw;
    height: 32.8vh;
    position: absolute;
    top: -33vh;

}

#lblNamespace {
    color: rgb(21, 2, 81, 1);
    position: absolute;
    font-size: 6.3vh;
    top: -32vh;
    left: 23vh;

}

#lblTextboxText {
    font-family: P3Font, Times, serif;
    position: absolute;
    font-size: 4.5vh;
    width: 115vh;
    top: -22vh;
    left: 28vh;
    height: 15vh;
    row-gap: 5px;
    line-height: 5vh;

}

#imgCharacter {
    width: 50vh;

}
